#section1{
background-image: url("main.jpg");	
background-position: center;
background-size: cover;
position: relative;
height: 800px;
padding-top: 20px;
padding-bottom: 20px;
padding-left: 30px;
}
#section2{
background-color: #88bdbc;
height: 400px;
padding-top: 20px;
padding-bottom: 20px
padding-left: 30px;
}
#section3
{
padding-top: 20px;
padding-bottom:20px;
padding-left: 30px;
}
#section4{
background-color: #112d32;
padding-top: 20px;
padding-bottom: 20px;
}